.form__button {
    background: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    min-width: 358px;
    min-height: 50px;
    border: none;
}

.form__button:hover {
    opacity: 0.8;
    transition: .5s ease;
}

@media screen and (max-width: 568px) {
    .form__button {
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;
        min-width: 238px;
        min-height: 46px;
    }
}