.edit-button {
    background: none;
    border: none;
    background-image: url(../../images/edit-button.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0;
    width: 24px;
    height: 24px;
    position: relative;
    left: 310px;
    bottom: 60px;

}

.edit-button:hover {
    opacity: 0.6;
    transition: .5s ease;
}

@media screen and (max-width: 1140px) {
    .edit-button {
        left: 270px;
        bottom: 68px;
    }
  }

  @media screen and (max-width: 984px) {
    .edit-button {
        left: 220px;
        bottom: 63px;
    }
  }

@media screen and (max-width: 568px) {
    .edit-button {
        max-width: 18px;
        min-height: 18px;
        left: 210px;
        bottom: 57px;
    }
}