.header__logo {
    background-image: url(../../../images/logo.svg);
    max-width: 142px;
    min-height: 33px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 41px;
}

.header__logo:hover {
    background-image: url(../../../images/logo-black.svg);
    transition: .5s ease;
}

@media screen and (max-width: 568px) {
    .header__logo {
        background-image: url(../../../images/logoMobile.svg);
        padding-left: 27px;
        min-height: 24.4px;
        margin-bottom: 31.6px;
    }
}